.l-main {

    // padding: 0 100px;
    .copy-license {
        text-align: center;
        word-spacing: -3px;
        padding: 17px 0;
        font-size: 1.2rem;
        line-height: 20px;
        font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
        font-weight: bold;
    }
}