.p-home {
    .p-carousel {
        height: 360px;
        background: #a8a8a8;
        position: relative;

        .p-carousel-info {
            position: absolute;
            bottom: 32px;
            left: 40px;
            max-width: 410px;
            font-weight: 600;

            .info-title {
                font-size: 1.6rem;
                padding: 5px 23px;
                background: #ffdfdf;
                display: inline-block;
            }

            .info-content {
                font-size: 1.9rem;
                word-spacing: 3px;
                letter-spacing: 0px;
                padding-top: 10px;
            }
        }
    }

    .p-news {
        padding-top: 45px;

        .p-news-intro {
            background: #fff9da;
            border: 1px solid #ffd800;
            border-left: 6px solid #ffd800;
        }

        .p-news-container {
            display: flex;
            flex-direction: column;

            .p-news-item {
                display: flex;
                justify-content: space-between;
                margin-top: 30px;

                .p-news-img {
                    position: relative;
                    width: 350px;
                    height: 190px;
                    background: #afafaf;

                    .news-note {
                        position: absolute;
                        top: 0;
                        left: 0;
                        font-size: 1.4rem;
                        padding: 4px 22px;
                    }
                }

                .p-news-info {
                    width: 610px;
                    position: relative;
                    margin-top: -6px;

                    .info-title {
                        font-size: 1.5rem;
                        font-weight: 600;
                        margin-bottom: 9px;
                        word-spacing: 2.4px;
                    }

                    .info-describe {
                        font-size: 1.3rem;
                        font-weight: 600;
                        line-height: 20px;
                        word-spacing: 0.3px;
                    }

                    .info-button {
                        position: absolute;
                        bottom: 2px;
                        right: 0;
                        color: #fff;
                        padding: 12px 55px;
                        border-radius: 5px;
                        border: none;
                        background: #afafaf;
                        font-size: 1.6rem;
                        font-family: $main-fonts;
                    }
                }
            }

            .p-news-button {
                text-align: center;
                padding: 60px 0;

                .button-detail {
                    background: #ffd800;
                    font-family: $main-fonts;
                    font-weight: bold;
                }
            }
        }
    }

    .p-feature {
        padding: 60px 0;
        background: #fafafa;

        .p-feature-intro {
            background: #fff2f2;
            border: 1px solid #f68e56;
            border-left: 6px solid #f68e56;
        }

        .p-feature-container {
            display: flex;
            justify-content: space-between;
            margin-top: 30px;
            flex-wrap: wrap;
            margin-bottom: 10px;

            .p-feature-items {
                width: 300px;
                margin-bottom: 42px;

                .p-feature-img {
                    height: 185px;
                    background: #afafaf;
                }

                .p-item-title {
                    min-width: 50px;
                    padding: 5px 22px;
                    text-align: center;
                    line-height: 20px;
                    margin: 15px 0;
                    font-size: 1.4rem;
                    display: inline-block;
                }

                .p-item-content {
                    font-size: 1.4rem;
                    font-weight: 500;
                    line-height: 21.2px;
                }
            }
        }

        .p-feature-button {
            text-align: right;
            height: 65px;
            .button-detail {
                background: #f68e56;
                height: 100%;
                line-height: 20px;
                font-size: 1.8rem;
            }
        }
    }

    .p-blog {
        padding: 60px 0;
        background: #fff;
        margin-bottom: 55px;
        .p-blog-intro {
            background: #ebebeb;
            border: 1px solid #6dcff6;
            border-left: 6px solid #6dcff6;
        }

        .p-blog-container {
            display: flex;
            justify-content: space-between;
            margin-top: 30px;
            flex-wrap: wrap;

            .p-blog-items {
                width: 475px;
                margin-bottom: 44px;

                .p-blog-img {
                    height: 185px;
                    background: #afafaf;
                }

                .p-item-title {
                    min-width: 50px;
                    padding: 5px 22px;
                    text-align: center;
                    line-height: 20px;
                    margin: 15px 0;
                    font-size: 1.4rem;
                    display: inline-block;
                }

                .p-item-content {
                    font-size: 1.4rem;
                    font-weight: 500;
                    line-height: 1.5;
                }
            }
        }

        .p-blog-button {
            height: 65px;
            .button-detail {
                height: 100%;
                width: 100%;
                background: #6dcff6;
                line-height: 20px;
                font-size: 1.8rem;
            }
        }
    }
}